In [10]:
categoryList=[
    ["North","South","East","West"],
    ["Pressure","Temperature"],
    ["Site1","Site2","Site3"],
    ["Right","Left"],
    [str(i) for i in range(10)]
]

In [11]:
categoryList

[['North', 'South', 'East', 'West'],
 ['Pressure', 'Temperature'],
 ['Site1', 'Site2', 'Site3'],
 ['Right', 'Left'],
 ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']]

In [12]:
[len(categoryList[i] )for i in range(len(categoryList))]

[4, 2, 3, 2, 10]

In [17]:

import pandas as pd
import random

def tallDF(categories, eventcount, values):
    eventlist = range(eventcount)
    categorycount = len(categories)
    eventIdList = [random.choice(eventlist) for _ in eventlist]
    result = pd.DataFrame (
        data = {
            "type": [ ":".join( [random.choice(categories[i]) for i in range(categorycount) ] ) for _ in eventlist ],
            "value" : [ random.choice(values) for _ in eventlist]
        }
    )
    return result

In [19]:
taller = tallDF(categoryList, 10000,range(100))

In [20]:
taller.head()

                              type  value
0      East:Pressure:Site1:Right:8     50
1   South:Temperature:Site2:Left:9     61
2  North:Temperature:Site3:Right:8     13
3      South:Pressure:Site3:Left:4     65
4     South:Pressure:Site1:Right:6     41

In [22]:
def stragg(a):
    return ":".join([str(v) for v in a])

In [23]:
pd.pivot_table(taller, index=taller.index, columns=taller["type"], aggfunc=stragg, dropna=False, margins=False)

                          value                             \
type East:Pressure:Site1:Left:0 East:Pressure:Site1:Left:1
0                           NaN                        NaN
1                           NaN                        NaN
2                           NaN                        NaN
3                           NaN                        NaN
4                           NaN                        NaN
...                         ...                        ...
9995                        NaN                        NaN
9996                        NaN                        NaN
9997                        NaN                        NaN
9998                        NaN                        NaN
9999                        NaN                        NaN

                                                            \
type East:Pressure:Site1:Left:2 East:Pressure:Site1:Left:3
0                           NaN                        NaN
1                           NaN                        NaN
2                           NaN                        NaN
3                           NaN                        NaN
4                           NaN                        NaN
...                         ...                        ...
9995                        NaN                        NaN
9996                        NaN                        NaN
9997                        NaN                        NaN
9998                        NaN                        NaN
9999                        NaN                        NaN

                                                            \
type East:Pressure:Site1:Left:4 East:Pressure:Site1:Left:5
0                           NaN                        NaN
1                           NaN                        NaN
2                           NaN                        NaN
3                           NaN                        NaN
4                           NaN                        NaN
...                         ...                        ...
9995                        NaN                        NaN
9996                        NaN                        NaN
9997                        NaN                        NaN
9998                        NaN                        NaN
9999                        NaN                        NaN

                                                            \
type East:Pressure:Site1:Left:6 East:Pressure:Site1:Left:7
0                           NaN                        NaN
1                           NaN                        NaN
2                           NaN                        NaN
3                           NaN                        NaN
4                           NaN                        NaN
...                         ...                        ...
9995                        NaN                        NaN
9996                        NaN                        NaN
9997                        NaN                        NaN
9998                        NaN                        NaN
9999                        NaN                        NaN

                                                            ...  \
type East:Pressure:Site1:Left:8 East:Pressure:Site1:Left:9  ...
0                           NaN                        NaN  ...
1                           NaN                        NaN  ...
2                           NaN                        NaN  ...
3                           NaN                        NaN  ...
4                           NaN                        NaN  ...
...                         ...                        ...  ...
9995                        NaN                        NaN  ...
9996                        NaN                        NaN  ...
9997                        NaN                        NaN  ...
9998                        NaN                        NaN  ...
9999                        NaN                        NaN  ...

                                                                    \
type West:Temperature:Site3:Right:0 West:Temperature:Site3:Right:1
0                               NaN                            NaN
1                               NaN                            NaN
2                               NaN                            NaN
3                               NaN                            NaN
4                               NaN                            NaN
...                             ...                            ...
9995                            NaN                            NaN
9996                            NaN                            NaN
9997                            NaN                            NaN
9998                            NaN                            NaN
9999                            NaN                            NaN

                                                                    \
type West:Temperature:Site3:Right:2 West:Temperature:Site3:Right:3
0                               NaN                            NaN
1                               NaN                            NaN
2                               NaN                            NaN
3                               NaN                            NaN
4                               NaN                            NaN
...                             ...                            ...
9995                            NaN                            NaN
9996                            NaN                            NaN
9997                            NaN                            NaN
9998                            NaN                            NaN
9999                            NaN                            NaN

                                                                    \
type West:Temperature:Site3:Right:4 West:Temperature:Site3:Right:5
0                               NaN                            NaN
1                               NaN                            NaN
2                               NaN                            NaN
3                               NaN                            NaN
4                               NaN                            NaN
...                             ...                            ...
9995                            NaN                            NaN
9996                            NaN                            NaN
9997                            NaN                            NaN
9998                            NaN                            NaN
9999                            NaN                            NaN

                                                                    \
type West:Temperature:Site3:Right:6 West:Temperature:Site3:Right:7
0                               NaN                            NaN
1                               NaN                            NaN
2                               NaN                            NaN
3                               NaN                            NaN
4                               NaN                            NaN
...                             ...                            ...
9995                            NaN                            NaN
9996                            NaN                            NaN
9997                            NaN                            NaN
9998                            NaN                            NaN
9999                            NaN                            NaN


type West:Temperature:Site3:Right:8 West:Temperature:Site3:Right:9
0                               NaN                            NaN
1                               NaN                            NaN
2                               NaN                            NaN
3                               NaN                            NaN
4                               NaN                            NaN
...                             ...                            ...
9995                            NaN                            NaN
9996                            NaN                            NaN
9997                            NaN                            NaN
9998                            NaN                            NaN
9999                            NaN                            NaN

[10000 rows x 480 columns]